<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="SmtpAppender"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="schlueter.ryan@gmail.com" />
      <from value="KryptoniteDocumentUploader@gmail.com" />
      <subject value="Kryptonite Document Uploader" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587"/>
      <authentication value="Basic" />
      <username value="KryptoniteDocumentUploader@gmail.com"/>
      <password value="ZZYPQLJKD43434SFLJKSDFOIU"/>
      <EnableSsl value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
  </log4net>
   
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="secured">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <security authenticationMode="UserNameOverTransport" enableUnsecuredResponse="true"></security>
          <httpsTransport/>     
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://wwwtest.courts.mo.gov/ecf-af-web/services/MoEcfAfV1"
          binding="customBinding" bindingConfiguration="secured"
          contract="MoExchangeServiceReference.FilingServicePortType" name="FilingServiceHttpSoap11Endpoint" />
    </client>
  </system.serviceModel>
</configuration>